/* base_one.css for pages like forget password, index, contact html */

/* ---------------------------------------- */
/* GLOBAL STYLES                            */
/* ---------------------------------------- */

/* thasadith-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Thasadith';
    font-style: normal;
    font-weight: 400;
    src: url('/static/font/thasadith-v11-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* carrois-gothic-sc-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Carrois Gothic SC';
    font-style: normal;
    font-weight: 400;
    src: url('/static/font/carrois-gothic-sc-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* orbitron-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    src: url('/static/font/orbitron-v31-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* orbit-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Orbit';
    font-style: normal;
    font-weight: 400;
    src: url('/static/font/orbit-v1-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* bebas-neue-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: url('/static/font/bebas-neue-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* advent-pro-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Advent Pro';
    font-style: normal;
    font-weight: 400;
    src: url('/static/font/advent-pro-v28-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* alata-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    src: url('/static/font/alata-v11-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* anta-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Anta';
    font-style: normal;
    font-weight: 400;
    src: url('/static/font/anta-v1-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* Reset */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    background-color: transparent;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar-nav .nav-link {
    color: #a6b7bc;
    font-weight: bold;
    margin-left: 150px;
}

.navbar-nav .nav-link:hover {
    color: #ddd;
}

/* Buttons */

.btn.btn-primary {
    background-color: #4d828b;
}

/* Floating Help Icon */
.floating-help {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #dc3545;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.floating-help:hover {
    background-color: #b02a37;
}

/* ---------------------------------------- */
/* INDEX PAGE STYLES                        */
/* ---------------------------------------- */
.index-hero-section{
    height: 100vh;
    background: url('/static/images/index-hero.jpg') no-repeat center center;
    position: relative;
}

.index-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust overlay opacity */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
 }

/* Flex layout for logo, heading, and subheading */
.index-logo-heading-container {
    display: flex;
    align-items: center;
    gap: 15px; /* Space between logo and text */
    margin-bottom: 30px;
}

.index-logo {
    width: 183px;
    height: auto;
}
.index-logo-heading-container {
margin-right: 111px;
gap: 9px;
}

.index-heading-text {
    text-align: left; /* Align text within the section */
}

.index-heading-text h1 {
    font-size: 5rem;
    font-weight: normal;
    margin: 0;
    font-family: 'Anta';
    color: #adb7bc;
    text-align: center;
    letter-spacing: 27px;
}

.index-heading-text p {
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 0;
    font-family: 'Alata';
    color: #adb7bc;
    margin-left: 30px;
}
.index-btn {
    width: 200px;
    background-color: rgb(168 178 182 / 75%);/* Semi-transparent white */
    border: none; /* Remove default border */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    color: #2f3954;
    font-weight: Bold;
}

.index-btn:hover {
    background-color: rgba(128, 128, 128, 0.8); /* Grey background on hover */
    color: white; /* Change text color to white on hover */
}
.gap-3 {
    gap: 2rem !important;
}
.valid {
    color: green;
}

.invalid {
    color: red;
}
.footer {
    position: absolute; /* Position relative to .index-overlay */
    bottom: 0; /* Stick to the bottom of the overlay */
    width: 100%; /* Full width of the overlay */
    background-color: rgba(0, 0, 0, 0.15); /* Semi-transparent black background */
    color: #adb7bc;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9rem;
}

.footer p {
    margin: 0; /* Remove default margin */
}



/* ---------------------------------------- */
/* CONTACT PAGE STYLES                      */
/* ---------------------------------------- */
.contact-hero-section {
    height: 75vh;
    background: url('/static/images/markus-spiske-R_An1zMmGwg-unsplash.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}

.contact-hero-section .contact-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.contact-heading-text h1 {
    font-size: 5rem;
    font-family: 'Anta';
    color: #adb7bc;
    letter-spacing: 27px;
    text-align: center;
}

/* Contact Form */
.contact-faq-contact-section {
    background-color: #ced9db;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 30px;
    margin-top: 17px;
    margin-bottom: 25px;
}
.contact-btn-faq {
    background-color: #4d828b;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 18px;
}

.contact-btn-faq:hover {
    background-color: #3a6a70;
}
.contact-btn.contact-btn-primary {
    border: none;
    background-color: #4d828b;
    color: white;
}
.contact-footer {
    background-color: #4d828b; /* Match header background color */
    color: white; /* White text */
    text-align: center; /* Center text horizontally */
    padding: 15px 0; /* Add vertical padding */
    position: relative; /* Positioning context */
    width: 100%; /* Full width of the container */
    margin-top: 2rem;
}

.contact-footer p {
    margin: 0; /* Remove default margin */

}

/*forget password html */

.valid {
    color: green;
}

.invalid {
    color: red;
}

.forget-hero-section {
    background: url('/static/images/medical_staff_in_front_of_computer.jpg') no-repeat center center/cover;
    height: 100vh;
    position: relative;
}

.forget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.floating-help {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #2c3e50;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.floating-help:hover {
    background-color: #b02a37;
}

.popover-body h6 {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.popover-body ul {
    padding-left: 0;
}

.popover-body ul li {
    list-style-type: none;
    margin-bottom: 0.5rem;
}

.popover-body ul li a {
    text-decoration: none;
    color: #2c3e50;
}

.popover-body ul li a:hover {
    text-decoration: underline;
}


/* ABOUT HTML */
.about-footer {
    background-color: #4d828b; /* Match header background color */
    color: white; /* White text */
    text-align: center; /* Center text horizontally */
    padding: 15px 0; /* Add vertical padding */
    position: relative; /* Positioning context */
    width: 100%; /* Full width of the container */
    margin-top: 2rem;
}

.about-footer p {
    margin: 0; /* Remove default margin */

}
.about-hero-section {
    height: 75vh;
    background: url('/static/images/national-cancer-institute-NFvdKIhxYlU-unsplash.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}

.about-hero-section .about-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.about-heading-text h1 {
    font-size: 5rem;
    font-family: 'Anta';
    color: #adb7bc;
    letter-spacing: 27px;
    text-align: center;
}
.about-row {
    --bs-gutter-x: 0.4rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}
