{% extends "base_one.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
    <!-- Hero Section with Overlay -->
    <div class="contact-hero-section">
        <div class="contact-overlay">
            <div class="contact-heading-text">
                <h1>ABOUT US</h1>
            </div>
        </div>
    </div>

        <div class="row justify-content-center">
            <div class="col-md-6 contact-faq-contact-section">
                <p>We continuously search the internet and identify the best sources, from academic research to Reddit threads,
                    to provide the perfect answer to any question.</p>
            </div>
        </div>

{% endblock %}