<!-- doctor_dashboard.html -->
{% extends "base_two.html" %}
{% block title %}Doctor's Dashboard{% endblock %}

{% block content %}
    <!-- Main Content -->
    <div class="doc-dash-main-content">
        <div class="doc-dash-icon-container">
            <div class="doc-dash-icon">
                <a href="{{ url_for('patients_dashboard') }}">
                    <img src="static/images/patient_icon.png" alt="Patient Icon">
                </a>
                <p class="doc-p">Patient</p>
            </div>
            <div class="doc-dash-icon">
                <a href="{{ url_for('account') }}">
                    <img src="static/images/account_setting_icon.png" alt="Doctor Account Icon">
                </a>
                <p class="doc-p">Account</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}

